@model RoadIt.Models.UA

@{
    ViewBag.Title = "UA report";
}

<h2>UA report</h2>
@{
    if (Session["RoleId"].ToString() == "6")
    {
        <p>The next data that is showed is for roadsection: @Session["RoadID"].ToString()</p>
        @Html.Raw(ViewData["Planning"].ToString())
        @Html.Raw(ViewData["AsphaltMixPlant"].ToString())
        @Html.Raw(ViewData["Truck"].ToString())
        @Html.Raw(ViewData["Finisher"].ToString())
        @Html.Raw(ViewData["Compactor"].ToString())
        @Html.Raw(ViewData["QualityControl"].ToString())
    }
    else
    {
        ViewBag.error = "You are not authorized to view this page";
        @ViewBag.error
    } 
} 