@{
    ViewBag.Title = "Client report";
}

<h2>Client Report</h2>

@ViewBag.error
@Html.Raw(ViewData["Table1"].ToString())
@Html.Raw(ViewData["Table2"].ToString())
@Html.Raw(ViewData["Table3"].ToString())
@Html.Raw(ViewData["Table4"].ToString())