@model RoadIt.Models.Copro

@{
    ViewBag.Title = "CoPro report";
}

<h2>CoPro report</h2>
@{
    if (Session["RoleId"].ToString() == "5")
    {
        @Html.Raw(ViewData["AsphaltMixPlant"].ToString())
        @Html.Raw(ViewData["Truck"].ToString())
        @Html.Raw(ViewData["Compactor"].ToString())
        @Html.Raw(ViewData["QualityControl"].ToString())
    }
    else
    {
        ViewBag.error = "You are not authorized to view this page";
        @ViewBag.error
    } 
} 