@model RoadIt.Models.Copro

@{
    ViewBag.Title = "CoPro report";
}

<h2>CoPro report</h2>
@{
    if (Session["RoleId"].ToString() == "5")
    {
        if(Session["RoadId"].ToString() != "")
        {
            <p>The next data that is showed is for roadsection: @Session["RoadID"].ToString()</p>
            @Html.Raw(Session["AsphaltMixPlant"].ToString())
            @Html.Raw(Session["Silo"].ToString())
            @Html.Raw(Session["AggagaratesBitumenComposition"].ToString())
            @Html.Raw(Session["Truck"].ToString())
            @Html.Raw(Session["TruckTemp"].ToString())
            @Html.Raw(Session["Compactor"].ToString())
            @Html.Raw(Session["QualityControl"].ToString())
        }
        else
        {
            ViewBag.error = "Choose first a roadsection";
            @ViewBag.error
        }
    }
    else
    {
        ViewBag.error = "You are not authorized to view this page";
        @ViewBag.error
    } 
} 