@model RoadIt.Models.Contractor

@{
    ViewBag.Title = "Index";
}

<h2>Contractor</h2>


@Html.Raw(ViewData["Planning"].ToString())
@Html.Raw(ViewData["AsphaltMixPlant"].ToString())
@Html.Raw(ViewData["Truck"].ToString())
@Html.Raw(ViewData["Finisher"].ToString())
@Html.Raw(ViewData["Compactor"].ToString())
@Html.Raw(ViewData["QualityControl"].ToString())