@model RoadIt.Models.UA

@{
    ViewBag.Title = "ManagerReport";
}


<h2>Report</h2>

@{
    if(Session["RoadId"].ToString() != "")
    {
        <p>The next data that is showed is for roadsection: @Session["RoadID"].ToString()</p>
        @Html.Raw(ViewData["tableSpec"].ToString())
        @Html.Raw(ViewData["tableTransport"].ToString())
        /*@Html.Raw(Session["tableTotal"].ToString())
        @Html.Raw(Session["tablePlants1"].ToString())
        @Html.Raw(Session["tablePlants2"].ToString())*/
    }
    else
    {
        ViewBag.error = "First choose a roadsection";
        @ViewBag.error
    } 
}
